In [1]:
#Query 1
SELECT customer.first_name, 
	customer.last_name, 
    customer.email, 
    address.address,
    city.city
FROM customer
JOIN address ON customer.address_id = address.address_id
JOIN city ON city.city_id = address.city_id
WHERE address.city_id = 312;

In [ ]:
#Query 2
SELECT film.title,
	film.description,
    film.release_year,
    film.rating,
    film.special_features
FROM film
JOIN film_category ON film_category.film_id = film.film_id
JOIN category ON category.category_id = film_category.category_id
WHERE category.name = 'comedy';

In [ ]:
#Query 3
SELECT actor.last_name,
	film.title,
    film.release_year
FROM film
JOIN film_actor ON film_actor.film_id = film.film_id
JOIN actor ON actor.actor_id = film_actor.actor_id
WHERE actor.last_name = 'Lollobrigida';

In [ ]:
#Query 4
SELECT actor.first_name,
	actor.last_name,
    film.title
FROM film
JOIN film_actor ON film_actor.film_id = film.film_id
JOIN actor ON actor.actor_id = film_actor.actor_id
WHERE film.title = 'Bingo Talented';

In [ ]:
#Query 5
select payment.customer_id, payment.amount 
from payment
where payment.amount > (select (2*avg(payment.amount))
from payment);

In [ ]:
#Query 6
SELECT customer.first_name,
	customer.last_name,
    COUNT(payment.payment_id) AS Num_Payments
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id
ORDER BY Num_Payments DESC
LIMIT 5;